server {
  server_name ${NGINX_HOST};

  location / {
    rewrite  ^/(.*)/$1 break;
    include fastcgi_params;
    fastcgi_pass php:9000;
    fastcgi_param SCRIPT_FILENAME ${NGINX_DOCUMENT_ROOT}/index.php;
    fastcgi_param SCRIPT_NAME index.php;
    fastcgi_param DOCUMENT_ROOT ${NGINX_DOCUMENT_ROOT};
    fastcgi_param REQUEST_URI ${ESC}uri;
  }
}
